name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6.0.2
          - name: Bandit Scan
            uses: shundor/python-bandit-scan@v1.0