name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        permissions:
            # Required for all workflows
            security-events: write
            # Only required for workflows in private repositories
            actions: read
            contents: read
        steps:
            - name: Perform Bandit Analysis
              uses: PyCQA/bandit-action@v1
            - name: Bandit Action
              uses: mdegis/bandit-action@v1.1