name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6.0.2
          - name: Run Bandit Scan
            uses: shundor/bandit-action@v1
            with: 
                path: "."
                level: high
                confidence: high
                exit_zero: true           