name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6.0.2

          - name: Setup Python
            uses: actions/setup-python@v6.2.0
            
          - name: installing Bandit
            run: pip install bandit
          - name: Run Bandit Scan
            run: bandit  -ii -ll -r .