name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6.0.2

        - name: Setup Python
          uses: actions/setup-python@v6.2.0

        - name: install Bandit
          run: pip install bandit

        - name: Run bandit scans
          run: bandit -ll -ii -r . -f html -o bandit-report.html

        - name: Upload a Build Artifact
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with:
            name: bandit-reports
            path: bandit-report.html