name: work-flow
on:
  push: 

jobs:
    sast_scan:
        name: Bandit Scan
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6.0.2

        - name: Setup Python
          uses: actions/setup-python@v6.2.0

        - name: install Bandit
          run: pip install bandit

        - name: Run bandit scans
          run: bandit -ll -ii -r . -f html -o bandit-report.html --exit-zero 

        - name: Upload a Build Artifact
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with:
            name: bandit-reports
            path: bandit-report.html

    semgprep:
      name: testing semgrep
      runs-on: ubuntu-latest
      container:
        image: semgrep/semgrep
      steps:
        - name: Checkout
          uses: actions/checkout@v6.0.2

        - name: Run semgrep scans
          run: semgrep scan --config auto --sarif-output=semgrep-reports.sarif  --json-output=semgrep-results.json

        - name: Upload SARIF to GitHub
          if: always()
          uses: github/codeql-action/upload-sarif@v3
          with:
            sarif_file: semgrep-reports.sarif


        - name: Upload a sarif Artifact
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with:
            name: semgrep-sarif
            path: semgrep-reports.sarif 
                        

        - name: Upload a json Artifact
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with:
            name: semgrep-json
            path: semgrep-results.json
    # image_scan:
    #     name: Image Scan
    #     runs-on: ubuntu-latest
    #     steps:
    #     - name: Checkout
    #       uses: actions/checkout@v6.0.2
    #     -
    #       name: Login to Docker Hub
    #       uses: docker/login-action@v3
    #       with:
    #         username: ${{ vars.DOCKERHUB_USERNAME }}
    #         password: ${{ secrets.DOCKERHUB_TOKEN }}

    #     - name: Docker Setup Buildx
    #       uses: docker/setup-buildx-action@v3.12.0

    #     - name: Build and push Docker images
    #       uses: docker/build-push-action@v6.18.0
    #       with:
    #         load: true
    #         cache-from: type=gha
    #         cache-to: type=gha,mode=max
    #         tags: image/test:v1

    #     - name: Docker Scout
    #       uses: docker/scout-action@v1.18.2
    #       with:
    #         command: quickview, cves 
    #         image: image/test:v1
    #         only-severities: critical,high
    #         sarif-file: docker-scout-reports.sarif
            
    #     - name: Upload a Build Artifact
    #       if: always()
    #       uses: actions/upload-artifact@v6.0.0
    #       with:
    #         name: docker-scout-reports
    #         path: docker-scout-reports.sarif